body { 
    font-family: 'Lato', Verdana; 
    font-size: 100%; 
    background: #c0e3ec; 
    width: 60%;
    display: table;
    margin: auto;
    float: none;
    
}

header {
    width: auto;
    background: rgb(29, 21, 75);
    border-radius: 12px 12px 0 0;
    padding: 10px;
}

p {
    color:rgb(33, 62, 192);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    transform: translate(200px, 250px);
}

h1 {
    transform: translate(20px,60px);
}
h2 {
    color:rgb(17, 22, 22);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    transform: translate(470px, -385px);
}

button {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(8, 83, 133);
    border-radius:12px;
    text-align: center;
    font-size: 18px; 
    padding: 6px 18px;
    border: none;
    font-family: arial;
    margin: 10px auto;
    display: block;
    transform: translate(420px, -423px);
}

footer {
    background: rgb(29, 21, 75);
    border-radius: 0 0 12px 12px;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}

form {
   background:#f0f5f7;
   height: 530px;
}

a {
    text-decoration: none;
    color: #f1f4f5;
}
a:hover {
	color: #43cfc8;
}

h4 {
    transform: translate(20px, 100px);
}
h5 {
    transform: translate(410px,-253px);
}
h6 {
    transform: translate(760px,-605px);
}