body { 
    font-family: 'Lato', Verdana; 
    font-size: 100%; 
    background: #c0e3ec; 
    width: 60%;
    display: table;
    margin: auto;
    float: none;
    
}

header {
    width: auto;
    background: rgb(29, 21, 75);
    border-radius: 12px 12px 0 0;
    padding: 10px;
}

p {
    color:rgb(33, 62, 192);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    transform: translate(270px, -230px);
}

button {
    background-color: rgb(8, 83, 133);
    border-radius:12px;
    text-align: center;
    font-size: 20px; 
    padding: 6px 18px;
    border:seashell;
    font-family: arial;
    margin: 0 auto;
    display: block;
    transform: translate(270px, -210px);
    box-sizing: border-box;
}

footer {
    background: rgb(29, 21, 75);
    border-radius: 0 0 12px 12px;
    text-align: center;
    height: 20px;
}
*{
    margin: 0;
    padding: 0;
}

form {
    background: rgb(250, 247, 250);
    margin:auto;
    height: 500px;
}

.active {
    font-size: 36px;
    padding-top: 10px;
    text-align: center;
}

.activ {
    list-style: none;
    text-align: right;
}

a {
    text-decoration: none;
    color: #f1f4f5;
}
a:hover {
	color: #43cfc8;
}

    